.wrapper-footer-full {
	background-color: $himmelsbla;
}

#wrapper-static-hero.wrapper {
	background-color: $primary;
	border-radius: 20px;
	padding-bottom: 60px;
}

.textwidget.custom-html-widget {
	color: $primary;
}